<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>

{% load static %}

    <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>
<body>

<form action="">
    <h2>Registration Form</h2>
    <label for="fname">First Name:</label>
    <br>
    <input type="text" id="fname">
    <br>

    <label for="lname">Last Name:</label>
    <br>
    <input type="text" id="lname">
    <br>

    <label for="email">Email:</label>
    <br>
    <input type="email" id="email">
    <br>

    <label for="pwd">Password:</label>
    <br>
    <input type="password" id="pwd">
    <br>

    <label for="pwd1">Re-type Password:</label>
    <br>
    <input type="password" id="pwd1">
    <br>

    <label for="contact">Contact:</label>
    <br>
    <input type="text">
    <br>

    <p>Gender:</p>
    <select name="" id="">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>

    <button>Submit</button>

</form>


</body>
</html>