<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>

{%load static  %}    
    
</head>
<body>
<h1>My Gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci amet asperiores cum deleniti dolorem doloremque hic illum nobis odio, optio quis recusandae! Corporis dignissimos laboriosam, rerum saepe sit tenetur!</span><span>Accusamus adipisci alias aspernatur beatae consequuntur corporis culpa dolorem dolores dolorum est fugit incidunt labore nemo nihil nobis nulla numquam quia quidem reiciendis rem repudiandae sapiente, sit suscipit temporibus, ut!</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
</body>
</html>