<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Page</title>

{% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>


<h1 class="text-center text-warning mt-3">Product Information</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur et facilis inventore modi nam perspiciatis, porro quod ratione sunt ullam voluptate voluptates! Distinctio impedit necessitatibus temporibus! Iusto, labore modi.</span><span>Ad, corporis culpa debitis, deserunt dicta eum exercitationem expedita facere harum laboriosam neque nesciunt numquam quae recusandae reiciendis velit vitae? Aperiam cumque cupiditate ex iste minima natus necessitatibus perspiciatis similique!</span></p>
<table class="table container ">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>

    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>

    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>

    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>

    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>








</table>

</body>
</html>